body{
    background-color: rgb(207, 195, 154);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

    .contaier {
    width: 80%;
    height: 70%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
        
        .box {
            position: relative;
            width: 30%;
            background-color: #4CAF50;
            height: 100px;

          }
        
    }
}
