body{
    max-width: 1200px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
    .h1 {text-align:center;}

    .carousel-wrapper{
        display: flex;
        justify-content: space-between;
        min-height: 70vh;
    }

    .contaier {
     position: relative;
     flex: 1;
    }
    
    .box {
     position: absolute;
     height: 100%;
     opacity: 0;
    }

    img { 
     max-height: 100%;
     max-width: 100%;
    } 
    
    .flex-center{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .arrow-left {
    min-width: 10vw;
    background-color: rgba(100, 88, 88, 0.242);
    cursor: pointer;

    }
    .arrow-right { 
        min-width: 10vw;
        background-color: rgba(100, 88, 88, 0.242);
        cursor: pointer;
    }
}